.Collection {
    text-align: center;
    padding: 2em 0;
    background-color: #D9D9D9;

    .Collection-title{
        padding: 1em 0 2em 0;
        a {
                font-size: 1.2em;
                color: #000000;
                background-color:  #ffffff;
                padding: 0.5em 1em;
                border-radius: 30px;
                font-family: 'Bree Serif', serif;
            
        }

        a:hover {
            text-decoration: none;
            
                background-color: #000000;
                color: #ffffff;
            
        }
    }

}


@media only screen and (min-width: 600px){
    
    .Collection {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        
    }
    
}

@media only screen and (min-width: 900px) {
    .Collection {
        .Collection-title {
            a {
                font-size: 2em;
            }
        }

        .Collection-content {
            p {
                font-size: 1.5em;
            }
        }
    }
}