.About-nav {
    background-image: url('../../img/ivan-diaz-413885-unsplash.jpg');
    min-height: 30vh;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    h3 {
        font-size: 1em;
    }

    .caption {
        display: flex;
        justify-content: center;
        padding:2em;
        flex-wrap: wrap;

        h3 {
            color: #ffffff;
            letter-spacing: 4px;
        }
    }
}

.About-content{
    text-align: center;
    margin-top: 3em;
    

    .content1 {
        
       padding: 2em;
        
    }

    .content2{
        padding: 1em;
        background-color: #D9D9D9;
    
        .toy-row {
            padding:1em;
    
            .fas, .fab {
                background-color: #ffffff;
                font-size: 4em;
                padding: 1em;
                margin: 0.5em;
                border-radius: 100px;
            }
        }
        
    
    }
    
}



//Break points
@media only screen and (min-width: 600px) {
.About-nav{
    min-height: 50vh;
    .caption {
        padding:2.5em;
    }
}
}
@media only screen and (min-width: 900px) {

    .About-nav{
        min-height: 70vh;
        .caption {
            width: 40vw;
            margin:2em;
            h3 {
                font-size: 1.2em;
                line-height: 200%;
            }
        }
    }
    .About-content{
        text-align: center;
        
    
        .content1 {
            display:flex;
            padding: 1em;
            justify-content: space-evenly;
    
            .content-row {
                width: 40vw;
                padding: 1em;
            }
        }

        .content2{
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            

            .toy-row {
                padding: 1em;
                

                .fas, .fab {
                    font-size: 3em;
                    background-color: #ffffff;
                    padding: 0.7em;
                    border-radius: 100px;

                }
            }
            
        }
        
    }
}
@media only screen and (min-width: 1200px){
    
}