.Reviews {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
    margin-top:4em;
    margin-bottom: 4em;

   

    .Review {

        .fa-user-circle {
            font-size: 2em;
            
        }
        .Review-title {
            padding: 1em 0;
            
            h5 {
                text-transform: uppercase;
                
            }
        }

        .Review-content {
            p{
                text-align: justify;
                
            }
        }
    }

    
}

@media only screen and (min-width: 600px) {
        .Reviews{
            .Review-col{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                margin-top:2em;
                

                .Review {
                    width: 40vw;
                    margin:1.2em;
                }
            }
        }
   
    
}

@media only screen and (min-width: 900px){
    .Reviews {
        .Review {
            .Review-content {
                p {
                    font-size: 1.4em;
                    line-height: 300%;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .Reviews{
        .Review-col{
            .Review {
                width: 20vw;
                //margin:1.2em;
            }
        }
    }
}