.contact-content{
    text-align: justify;
    
    

    .contact-desc{
        background-color: #d9d9d9;
        //padding: 2em;
        
    }

    .column {
        //padding:2em;
    }
}

.contact-nav {
    background-image: url('../../img/claudio-luiz-castro-1394287-unsplash.jpg');
    min-height: 30vh;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    .caption {
        display: flex;
        justify-content: center;
        padding:2em;
        flex-wrap: wrap;

        h3 {
            color: #ffffff;
            letter-spacing: 4px;
            font-size: 1em;
        }
    }
    
}

@media only screen and (min-width: 600px) {
    .contact-nav {
        min-height: 50vh;

        .caption {
            
            h3 {
                font-size: 1.2em;
                text-align: center;
            }
        }
    }

}
@media only screen and (min-width: 900px) {

    
    .contact-nav {
        min-height: 70vh;

        .caption {
            margin-top:4.5em;

            h3 {
                font-size: 1.5em;
                
            }
        }
    }

    .column{
        display:flex;
    }
}
@media only screen and (min-width: 1200px){
    .contact-nav {
       

        .caption {
            
            h3 {
                font-size: 2em;
                
            }
        }
    }
     
}