

.navbar{

    justify-content: center;
    padding: 0;
    text-align: center;
    flex-direction: column;
    align-items: center;

    .page-title {
        .navbar-brand {
            margin-right: 0;
        }
    }
 
    
            a {
                font-size: 1em;
                font-family: 'Bree Serif', serif;
                letter-spacing: 4px;
                text-transform: uppercase;
                font-weight: 700;
                color: #ffffff;
                text-decoration: none;
                border-bottom: 4px solid transparent; 
                transition: all .2s ease-in-out 0s;
                
                
            }
            a:hover {
                //text-decoration: underline;
                border-bottom: 4px solid #ffffff;
                
            }

            
}

.navbar-toggler {
    background-color: #ffffff;
    margin-top:2em;
    
}

.navbar-collapse {
  

    a{
        margin-bottom: 2em;
    }
}

.contact-nav {
    .caption {
        h3 {
            line-height: 200%;
            text-align: center;
        }
    }
}

@media (min-width: 992px) {
    .navbar {
        flex-flow: row wrap;
        padding: 24px 0 24px 0;

        a {
            font-size: 1em;
            padding: 1em;
            

        }

        .navbar-collapse {
            justify-content: center;
           
        }
    }
}





@media (min-width: 1200px){
    .navbar {
        align-items: baseline;
        a {
            font-size: 1.5em;
            padding: 0 2em 0 2em;
        }
        .navbar-collapse {
            justify-content: center;          
        }
    }
}

