.header {
    background-image: url('../../img/train-model.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 100%;
    padding: 2em 1em;
    margin: 0;

    h2 {
        letter-spacing: 2px;
        margin: 0;
        text-shadow: 2px 2px 6px #000;
        text-align: center;
        color: white;
        line-height: 200%;
    }

    h1 {
        letter-spacing: 2px;
        margin: 0;
        text-shadow: 2px 2px 6px #000;
        text-align: center;
        color: white;
        line-height: 200%;
    }
}


.hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:2em;
    
}

//Styling  button
.info-button {
    margin-top: 1em;
    text-align: center;

            a {
                font-size: 1.2em;
                border: 5px solid #ffffff;
                color: #ffffff;
                letter-spacing: 4px;
                text-transform: uppercase;
                font-weight: 700;
                text-decoration: none;
                padding: 0.7em 2em;
                border-radius: 20px;
                font-family: 'Bree Serif', serif;
            }
            
            a:hover{
                border: 0 solid transparent;
                
            }

}

//Breakpoints
@media only screen and (min-width: 600px){
  .hero-image{
    min-height: 80vh;
  }
}

@media only screen and (min-width: 1200px){
    .show-info {
        margin: 2em;

        .info-button {
            margin: 3em;

            a {
                font-size: 2em;
            }
        }
    }
}