.partners {
    background-color: #eeeeee;
    padding: 2em;
    text-align: center;
    h4 {
        padding-top:1em;
        padding-bottom: 1em;
    }
    .name{
        margin: 1em 0;
        padding: 1em;
        //background-color: #ffffff;
        border: 4px solid #000000;
        border-radius: 30px;

        .fa, .fas {
            font-size: 2em;
            color: #000000;
        }
        a{
            h5 {
                border-bottom: 4px solid transparent;
            }
        }

        a:hover {
            text-decoration: none;
        }
            h5:hover {
                border-bottom: 4px solid #000000;
              
                
            }
    }
}

//Break points
@media only screen and (min-width: 600px) {
    .partners {
        .name {
            margin: 3em;

            .fa, .fas {
                font-size: 2.5em;
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .partners {
        .partners-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .name {
                margin: 2em;
                width:25vw;

        
            }

             

                
            }

        }
    }
