.Slide {
    .Caption-Slide {
        padding: 2em;
        p {
            text-align: center;
        }
        
    }

    .Slide-button {

        margin: 1em;
        
        a{

            color: #000000;
            p {
                border: 4px solid #000000;
                border-radius: 20px;
                text-align: center;
               
            }
        }
        
        a:hover {
            text-decoration: none;
            p:hover {
                background-color: #000000;
                color: #eeeeee;
                text-transform: uppercase;
            }
            
        }
        
    }
}

@media only screen and (min-width: 600px) {
    .Slide {
     width: 40vw;
    }
}
@media only screen and (min-width: 900px){
    .Slide {
        .Caption-Slide {
            padding: 2em;
            p{
                
                line-height: 300%;
            }
            
        }

        .Slide-button {
            p{
                font-size: 1.4em;
                line-height: 300%;
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    .Slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .Slide-button {
            width:20vw;
        }
    }
}