.trainsModel {
    padding: 0;
    margin: 0;

    .train-header {
        background-image: url('../../img/rijaluddin-abdur-rozzaq-1208836-unsplash.jpg');
        min-height: 30vh;
        background-size: cover;
        background-position: center;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding:2em;
    
        .caption {
            text-align: justify;
            h4 {
                color: #ffffff;
                letter-spacing: 4px;
                line-height: 200%;
            }
        }
    }

    .main-content {
        h4 {
            text-align: center;
        }
        p {
            text-align: justify;
        }
    }
}




//Break point
@media only screen and (min-width: 400px) {
   
.train-nav {

    .caption {
        padding: 2em;
        text-align: justify;
    }

}
    
}

@media only screen and (min-width: 900px) {
    .main-content{
        padding:4em;

      .train-desc {
          padding:2em;
        -webkit-column-count: 2;
        -moz-column-count: 2;
             column-count: 2;
             -webkit-column-width: 100px;
     -moz-column-width: 100px;
          column-width: 100px;
          -webkit-column-gap: 4em;
     -moz-column-gap: 4em;
          column-gap: 4em;
          -moz-column-fill: auto;
       column-fill: auto;

       p {
           line-height: 300%;
       }
   }
      


    }
    .trainsModel {
        .train-header{
            min-height: 50vh;
            .caption {
                width: 60vw;
                padding: 1.5em;
                text-align: justify;
        
            }
        
        }
    }
    
}

@media only screen and (min-width: 1200px) {
    .main-content{
        padding:6em;
    }

    .trainsModel {
        .train-header{
            min-height: 70vh;
            
        
        }
    }
}