//Styling footer
.footer {
    text-align: center;
    background-color: #6D6E70;
    padding:2em;
    .socialMedia {
        display: flex;
        justify-content: space-evenly;
        

        .fab {
            font-size: 3em;
            color: #ffffff;
            
        }
    }

    .footer-contact{
        p {
            color: #ffffff;
        }
    }
}



@media only screen and (min-width: 600px){
    .footer {
        .socialMedia {
            justify-content: center;

            .fab {
                padding-left: 1em;
                padding-right:1em;
                
            }
        }
    }
}

@media only screen and (min-width: 900px) {
.footer {
    .footer-contact {
        p {
            font-size: 1.2em;
        }
    }
}
}