.Train-collection {
    text-align: center;
    //background-color: #f0f0d6;
    padding-bottom: 1em;

    .Train-model {
        img {
            width: 100%;
        }
    }
    .Description {
        
        h6 {
            padding: 1em;
            
        }
        p {
            color: #000000;
        }
        .to-page-model {
            a {
                p {
                    border: 4px solid #2c82c9;
                    text-align: center;
                    border-radius: 30px;
                    color: #2c82c9;
                    margin:1em;
                }
            }

            a:hover {
                text-decoration: none;
                p:hover {
                    color:#ffffff;
                    background-color: #000000;
                }
            }
            
            
        }
    }
}

@media only screen and (min-width: 600px){

    .Train-collection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;

        .Train-model {
            width: 50vw;
        }

        .Description {
            width: 50vw;
        }
    }
    
}

@media only screen and (min-width: 900px) {
    .Train-collection {
        flex-direction: column;
        justify-content: space-around;
        .Train-model {
            width: 25vw;
        }

        .Description {
            width: 25vw;
            
        }
    }
}

@media only screen and (min-width: 1200px) {
    .Train-collection {
        
        .Train-model {
            width: 25vw;
        }

        .Description {
            width: 25vw;
            //padding:2em;
        }
    }
}