@import url('https://fonts.googleapis.com/css?family=Arvo:700');
@import url('https://fonts.googleapis.com/css?family=Coiny');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans');



h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
  letter-spacing: 2px;
  color: #404040;
}

p{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  line-height: 300%;
  color: #000000;
}

.Main-content {
  display: flex;
  flex-direction: column;

}


@media only screen and (max-width: 599px){
  

}

@media only screen and (min-width: 600px){
  
}

@media only screen and (min-width: 900px){
 
}

